<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />

  </head>
  <body>
    <header>
     <img
  src="https://res.cloudinary.com/du8nkdwcp/image/upload/v1703600782/QuestWeaver/jc6ybbpleuyuwtijwkcf.png"
  alt="An open book with multiple threads flowing from it's pages, as if the words that compose it's stories are being threaded" id="logo-header"
/> <h1>QuestWeaver</h1>
    </header>
    {{> navigation}}
    {{{body}}}
  </body>
</html>