<h1>Welcome to {{title}}</h1>
<img
  src="https://res.cloudinary.com/du8nkdwcp/image/upload/v1703600782/QuestWeaver/jc6ybbpleuyuwtijwkcf.png"
  alt="An open book with multiple threads flowing from it's pages, as if the words that compose it's stories are being threaded"
/>