<main>
  <div class="profile-container">
    <h1>Profile</h1>
    <img
      src="{{user.profileImage}}"
      alt="Profile Image"
      class="profile-image"
    />
    <p>Username: {{user.displayName}}</p>
    <p>User ID: {{user.id}}</p>
    <p>User since: {{formatDate user.createdAt}}</p>
    <div class="profile-actions">
      <a href="/auth/logout" class="button">Logout</a>
      <a href="/profile/edit" class="button">Edit Profile</a>
    </div>
  </div>
</main>